@{
    ViewData["Title"] = "Buy Stuff";
}
<h1>@ViewData["Title"]</h1>

<h2>Pay me to tell you about baseball:</h2>
<form>
<label for="hours">Tell me how many hours you want to be tutored:</label>
    <input id="hours" type="number" name="numberInput" min="0" max="10000" />
    <br />
    <label for="rate">My Hourly Rate:</label>
    <input type="text" id="rate" name="nonEditableNumber" value="75" readonly>
    <br />
    <label for="cost">Cost:</label>
    <input type="text" id="cost" readonly>
    <br />
    <button type="button" onclick="calculateCost()">Calculate Cost</button>

</form>
