@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Baseball is a cool hobby. I talk about it a lot in my free time :></p>
    <img src="~/img/baseball1.jpg" alt="a baseball on a white chalk line"/>
    <p>Here is a picture of a clean baseball.</p>
    <img src="~/img/baseball2.jpg" alt="a few dirty baseballs" />
    <p> Here is a picture of a few dirty baseballs. They still get the job done though.</p>

    <p>Baseball, often hailed as America's pastime, is a timeless and intricate sport that captures the hearts of millions worldwide. Rooted in the 19th century, baseball has evolved into a strategic and highly nuanced game played between two teams of nine players each. The objective is simple yet challenging: a player from the batting team aims to hit a pitched ball thrown by the opposing team's pitcher and then navigate a series of bases arranged in a diamond shape. Meanwhile, the defensive team strives to prevent runs by catching the ball and executing precise throws. The game unfolds in innings, with each team having the opportunity to bat and field, creating a delicate balance of offense and defense. The sport's rich history, marked by legendary players and iconic moments, contributes to its enduring popularity, making baseball a symbol of tradition and camaraderie.</p>
    <p>At its core, baseball fosters a sense of community and shared experience. From the crack of the bat to the roar of the crowd, the game embodies a unique blend of skill, strategy, and teamwork. Baseball stadiums become arenas where fans unite, cheering for their favorite teams and players. The sport's leisurely pace allows for moments of anticipation and excitement, as well as reflection on its profound impact on cultural identity. Whether played professionally, at the local level, or in casual backyard games, baseball continues to resonate as a cherished part of global sports culture, weaving a tapestry of memories and traditions that endure through generations.</p>
</div>
